* {padding: 0;margin: 0;box-sizing: border-box;}
html {background-color: #fff;}
a {text-decoration: none;color: #4c8aff; cursor: pointer; transition: 300ms;}
a:hover { transition: 300ms;}
ul {list-style-type: none;}
input[type="text"] {border: none;outline: none;border-bottom: 3px solid #4c8aff;}